<% include header %>

<main>
  <div id="map"></div>
</main>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="/js/leaflet.js"></script>

<script>
  // toevoeging van layers

  var groupBetaling = new Array();
  var groupGratis = new Array();
  var alle = new Array();
  var urinoir = new Array();
  var luiertafel = new Array();
  var gehandicapten = new Array();

  <% for (var i=0; i<toiletten.length; i++) {%>
    
    marker = new L.marker([<%=toiletten[i].geometry.y%>, <%=toiletten[i].geometry.x%>], {
        icon: toiletimg
      }).bindPopup("<h1>Toilet <%=toiletten[i].attributes.OMSCHRIJVING%></h1><h2 class='<%=toiletten[i].attributes.BETALEND%>'> Betalend:  <%=toiletten[i].attributes.BETALEND%> </h2><p><%=toiletten[i].attributes.STRAAT%> <%=toiletten[i].attributes.HUISNUMMER%><br><%=toiletten[i].attributes.POSTCODE%> <%=toiletten[i].attributes.DISTRICT%><br></p> <a href='https:www.google.com/maps/dir/?api=1&dir_action=navigate&origin='<%=toiletten[i].geometry.y%>',' <%=toiletten[i].geometry.x%>'>test<a><br><br><div class='rating'><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span></div>").addTo(map);

    //layergroup (Dit is wat sven schreef als al een onderdeel van de layergroup)
    if ("<%=toiletten[i]%>") {
      alle.push(marker);
    }
    if ("<%=toiletten[i].attributes.BETALEND%>" == "ja") {
      groupBetaling.push(marker);
    }
    if ("<%=toiletten[i].attributes.BETALEND%>" == "nee") {
      groupGratis.push(marker);
    }
    if ("<%=toiletten[i].attributes.TYPE%>" == "urinoir") {
      urinoir.push(marker);
    }
    if ("<%=toiletten[i].attributes.LUIERTAFEL%>" == "ja") {
        luiertafel.push(marker);
      }
      if ("<%=toiletten[i].attributes.INTEGRAAL_TOEGANKELIJK%>" == "ja") {
          gehandicapten.push(marker);
        }


    //einde layergroup

  <% }%>

  // toevoeging van layers
  var betalend = L.layerGroup(groupBetaling);
  var gratis = L.layerGroup(groupGratis);
  var alles = L.layerGroup(alle);
  var urinoires = L.layerGroup(urinoir);
  var luiertafels = L.layerGroup(luiertafel);
  var mindervaliden = L.layerGroup(gehandicapten);


  var overlayMaps = {
      "Alle toiletten": alles,
      "Betalend": betalend,
      "Gratis": gratis,
      "Urinoir": urinoires,
      "Luiertafel": luiertafels,
      "Mindervaliden toegankelijk": mindervaliden,

  };
  L.control.layers(overlayMaps).addTo(map);
//routing
L.Routing.control({
        waypoints: [
            L.latLng(57.74, 11.94),
            L.latLng(57.6792, 11.949)
        ],
        routeWhileDragging: true,
        geocoder: L.Control.Geocoder.nominatim()
    })
    .on('routeselected', function(e) {
        var route = e.route;
        alert('Showing route between waypoints:\n' + JSON.stringify(route.inputWaypoints, null, 2));
    })
    .addTo(map);


//layergroups

</script>
   <%-include('../views/footer')%>
