<% include header %>

<div class="template">

  <h1 class="titels">Alle toiletten</h1>

  <script type="text/javascript">

    <% for (var i=0; i<toiletten.length; i++) {%>
  document.write("<h1>Toilet <%=toiletten[i].attributes.OMSCHRIJVING%></h1><h2 class='<%=toiletten[i].attributes.BETALEND%>'> Betalend:  <%=toiletten[i].attributes.BETALEND%> </h2><p><%=toiletten[i].attributes.STRAAT%> <%=toiletten[i].attributes.HUISNUMMER%><br><%=toiletten[i].attributes.POSTCODE%> <%=toiletten[i].attributes.DISTRICT%><br></p>");

        <% }%>
  </script>

</div>


<% include footer %>
